
/* Also present in global stylesheet */
.rainbow_border {
    box-sizing: border-box;
    animation-name: rainbow_border_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes rainbow_border_animation {
    0% { border: 2px solid red; }
    20% { border: 2px solid rgb(255, 196, 0); }
    40% { border: 2px solid green; }
    60% { border: 2px solid rgb(0, 89, 255); }
    80% { border: 2px solid rgb(214, 0, 214); }
    100% { border: 2px solid red; }
}
